<form (submit)="onFormSubmit($event)">
	<div class="row hidden-md-up">
		<div class="col-12 mb-3">
			<button class="btn btn-default visible-sm-down pull-left" [routerLink]="['/']"><i class="fa fa-chevron-left"></i> Back</button>
			<button class="btn btn-success visible-sm-down pull-right" type="submit"><i class="fa fa-plus"></i> Create</button>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Title" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="form-group">
					<textarea #content class="form-control" placeholder="Some relevant infomation" required style="height: 35vh;"></textarea>
				</div>
			</div>
			<div class="col-6 hidden-sm-down">
				<div class="form-group">
					<pre>{{content.value}}</pre>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 hidden-sm-down">
				<div class="form-group">
					<a class="btn btn-secondary" [routerLink]="['/']">Cancel</a>
					<button type="submit" class="btn btn-success">Create</button>
				</div>
			</div>
		</div>
	</div>
</form>
