// styles applied on :host are applied on the current component, "app" in this case
:host {
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

main {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}

footer{
	margin-top: auto;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
}

button{
	cursor: pointer;
}
