// styles applied on :host are applied on the current component, "app" in this case
:host {
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

main {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}

footer{
	width: 100%;
	background-color: #eee;
}

button{
	cursor: pointer;
}
