<header>
	<!-- <nav class="navbar navbar-toggleable-sm navbar-inverse bg-faded bg-inverse hidden-sm-down">
		<a class="navbar-brand" routerLink="/">Ng2 Notes</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="/"><i class="fa fa-paperclip"></i> Notes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/about"><i class="fa fa-info-circle"></i> About</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<button class="btn btn-success btn-outline-success" routerLink="/new" routerLinkActive="active"><i class="fa fa-plus"></i> New</button>
			</li>
		</ul>
	</nav> -->

	<nav class="card card-inverse rounded-0 flex-row p-2" style="background-color: #333; border-color: #333;">
		<h3 class="navbar-brand p-0 m-0" routerLink="/">Ng2 Notes</h3>

		<button class="btn btn-sm btn-outline-success ml-auto hidden-sm-up" routerLink="/new" routerLinkActive="active"><i class="fa fa-plus fa-2x"></i></button>
		<button class="btn btn-outline-success ml-auto hidden-xs-down" routerLink="/new" routerLinkActive="active"><i class="fa fa-plus"></i> New Note</button>
	</nav>
</header>
<main>
	<router-outlet></router-outlet>
</main>
<footer class="footer">
	<div class="container">
		<span class="text-muted">Created By <a href="http://www.rdfriedl.com" target="_blank">rdfriedl</a> using <i class="fa fa-github"></i> <a href="https://github.com/preboot/angular2-webpack" target="_blank">angular2-webpack</a></span>
	</div>
</footer>
