<header>
	<!-- nav bar -->
	<nav class="card card-inverse rounded-0 flex-row p-2" style="background-color: #333; border-color: #333;">
		<h3 class="navbar-brand p-0 m-0" routerLink="/notes">Ng2 Notes</h3>

		<!-- mobile buttons -->
		<div class="ml-auto hidden-sm-up">
			<button class="btn btn-sm btn-outline-info hidden-sm-up p-1" routerLink="/about" routerLinkActive="active"><i class="fa fa-info fa-fw fa-2x"></i></button>
			<button class="btn btn-sm btn-outline-success hidden-sm-up p-1" routerLink="/new" routerLinkActive="active"><i class="fa fa-plus fa-fw fa-2x"></i></button>
		</div>

		<!-- desktop buttons -->
		<div class="ml-auto hidden-xs-down">
			<button class="btn btn-outline-info" routerLink="/about" routerLinkActive="active"><i class="fa fa-info-circle"></i> About</button>
			<button class="btn btn-outline-success" routerLink="/new" routerLinkActive="active"><i class="fa fa-plus"></i> New Note</button>
		</div>
	</nav>

	<!-- selection toolbar -->
	<div class="card card-primary fixed-top flex-row rounded-0 p-2" [hidden]="selected.length == 0">
		<button class="btn mr-auto" (click)="clearSelection()">{{selected.length}} Selected</button>

		<div class="btn-group ml-auto">
			<!-- <button class="btn btn-success" (click)="clearSelection()"><i class="fa fa-check"></i><span class="hidden-xs-down"> Done</span></button> -->
			<button class="btn btn-info" *ngIf="selected.length == 1" (click)="editNote(selected[0])"><i class="fa fa-pencil"></i><span class="hidden-xs-down"> Edit</span></button>
			<button class="btn btn-danger" (click)="deleteNotes(selected)"><i class="fa fa-trash"></i><span class="hidden-xs-down"> Delete</span></button>
		</div>
	</div>
</header>

<main class="page-content">
	<div class="container p-3">
		<div class="card-columns">
			<div class="card mb-3" *ngFor="let note of notes" [ngClass]="{'card-outline-primary': selected.includes(note)}" (click)="toggleSelected(note)">
				<img class="card-img-top" *ngIf="note.image" [src]="note.image" style="width: 100%; pointer-events: none;">
				<div class="card-block">
	 				<h4 class="card-title" *ngIf="note.title">{{note.title}}</h4>
					<div class="card-text markdown" [innerHTML]="note.content | MarkdownToHtml"></div>
					<div class="d-flex flex-row my-1">
						<span class="badge badge-default" style="margin: 0 2px" *ngFor="let label of note.labels">{{label}}</span>
					</div>
					<div class="card-text text-muted">
						<small *ngIf="note.updated <= note.created">Created {{note.created.toDateString()}}</small>
						<small *ngIf="note.updated > note.created">Updated {{note.updated.toDateString()}}</small>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center" *ngIf="!notes.length && !loading">
			<h3 class="text-muted">Looks like you dont have any notes</h3>
			<button type="button" class="btn btn-success" routerLink="/new">Create One?</button>
		</div>
	</div>
</main>
