<div class="card card-primary fixed-top flex-row rounded-0 p-2" [hidden]="selected.length == 0">
	<button class="btn mr-auto" (click)="clearSelection()">{{selected.length}} Selected</button>

	<div class="btn-group ml-auto">
		<!-- <button class="btn btn-success" (click)="clearSelection()"><i class="fa fa-check"></i><span class="hidden-xs-down"> Done</span></button> -->
		<button class="btn btn-info" *ngIf="selected.length == 1" [routerLink]="['edit',selected[0]]"><i class="fa fa-pencil"></i><span class="hidden-xs-down"> Edit</span></button>
		<button class="btn btn-danger" (click)="deleteNotes(selected)"><i class="fa fa-trash"></i><span class="hidden-xs-down"> Delete</span></button>
	</div>
</div>

<div class="container p-3">
	<div class="card-columns">
		<div class="card mb-3" *ngFor="let note of notes" [ngClass]="{'card-outline-primary': selected.includes(note.id)}" (click)="toggleSelected(note.id)">
			<div class="card-header" *ngIf="note.title">{{note.title}}</div>
			<div class="card-block" *ngIf="note.type == 'note'">
				<div class="card-text markdown" [innerHTML]="note.content | MarkdownToHtml"></div>
			</div>

			<!-- checklist -->
			<ul class="list-group list-group-flush" *ngIf="note.type == 'list'">
				<li class="list-group-item markdown" *ngFor="let item of note.items" [innerHTML]="item.content | MarkdownToHtml"></li>
			</ul>
		</div>

		<div class="card card-outline-success text-success mb-3 hidden-xs-down" routerLink="/new" *ngIf="notes.length == 0">
			<div class="card-block">
				<i class="fa fa-plus"></i> New Note
			</div>
		</div>
	</div>

	<button class="btn btn-success btn-block btn-lg hidden-sm-up" routerLink="/new" *ngIf="notes.length == 0"><i class="fa fa-plus"></i> New Note</button>
</div>
