<div class="card m-0" [ngClass]="{'card-outline-primary': selected}" (touchstart)="startSelectTimeout()" (touchmove)="clearSelectTimeout()" (touchend)="touchEnd()">
	<div class="hidden-xs-down" *ngIf="hasButtons">
		<button class="btn btn-primary btn-corner top left rounded-circle" type="button" [ngClass]="{active: selected}" (click)="select.emit(!this.selected)"><i class="fa fa-check"></i></button>
		<button class="btn btn-success btn-corner top right rounded-circle" type="button" [ngClass]="{active: selected}" (click)="edit.emit()"><i class="fa fa-pencil"></i></button>
		<!-- <button class="btn btn-danger btn-corner top right rounded-circle" [ngClass]="{active: selected}" (click)="remove.emit()"><i class="fa fa-times"></i></button> -->
	</div>

	<img class="card-img-top" *ngIf="note.image" [src]="note.image" style="width: 100%; pointer-events: none;">

	<div class="card-block" *ngIf="note.type == 'text' ? (note.title || note.content) : note.title" [ngClass]="{'pb-0': note.type == 'text'}">
		<h4 class="card-title" *ngIf="note.title">{{note.title}}</h4>

		<!-- text content -->
		<div class="card-text markdown" *ngIf="note.type == 'text'" [innerHTML]="note.content | MarkdownToHtml | myMarkdownFix"></div>
	</div>

	<div class="list-group list-group-flush" *ngIf="note.type == 'list'" (click)="$event.stopPropagation()" [sortablejs]="note.items" [sortablejsOptions]="sortablejs" (touchstart)="$event.stopPropagation()">
		<li *ngFor="let item of note.items" class="list-group-item p-2" [ngClass]="{'list-group-item-success': item.done, 'list-group-item-default': !item.done}">
			<button type="button" class="btn btn-outline-success btn-sm mr-1 p-1" [ngClass]="{'active': item.done}" (click)="toggleItem(item)">
				<i class="fa fa-check fa-fw"></i>
			</button>

			<span *ngIf="!item.done" class="markdown" [innerHTML]="item.text | MarkdownToHtml | myMarkdownFix"></span>
			<span *ngIf="item.done" class="text-muted markdown" style="text-decoration: line-through" [innerHTML]="item.text | MarkdownToHtml | myMarkdownFix"></span>

			<button type="button" class="btn btn-outline-danger btn-sm ml-auto p-1" (click)="removeItem(item)">
				<i class="fa fa-times fa-fw"></i>
			</button>
		</li>
	</div>

	<div class="card-block">
		<div class="d-flex flex-row my-1" *ngIf="note.labels.length">
			<span class="badge badge-default" style="margin: 0 2px" *ngFor="let label of note.labels">{{label}}</span>
		</div>
		<div class="card-text text-muted">
			<small *ngIf="note.updated <= note.created">Created {{note.created.fromNow()}}</small>
			<small *ngIf="note.updated > note.created">Updated {{note.updated.fromNow()}}</small>
		</div>
	</div>
</div>
